
@import url('https://fonts.googleapis.com/css?family=Covered+By+Your+Grace|Damion');

.bd-navbar{
    background-color:#5e58b7;
  
}
.navbar-brand{
    font-family: 'Covered By Your Grace';
    font-size: 3rem;

}
.jumbotron{
  text-align: center;
    background-image: url(/Users/puello_chanel/Documents/GitHub/Spring2019_WD3/Midterm/assets/images/jumbotron.png);
    background-size:cover;
    color:white;
   
}

