
@import url('https://fonts.googleapis.com/css?family=Covered+By+Your+Grace|Damion');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300i,400,600,700,800i');
@import url('https://fonts.googleapis.com/css?family=Quicksand');

.bd-navbar{
    background-color:#5e58b7;
    text-shadow: 2px 2px 4px #353434d5;
}
.navbar-brand{
    font-family: 'Covered By Your Grace';
    font-size: 3rem;

}



.navbar-collapse{
 padding-left: 2rem;

}
.button{
    background-color: #5e58b7;
}

.modal-popper{
    margin-left:2rem;
    
}

.jumbotron{
  text-align: center;
    background-image: url(/Users/puello_chanel/Documents/GitHub/Spring2019_WD3/Midterm/assets/images/jumbotron.png);
    background-size:cover;
    color:white;
    text-shadow: 2px 2px 4px #5a5959;
    background-color: #5e58b7;
}

h1{
    font-family: 'Quicksand';
   text-align: center;
   text-shadow: 2px 2px 4px #000000;

}
p{
    font-family: 'Open Sans';
    color: #1d1d1d;

}
.carousel-cap{
    color: #cfcfcf;
    font-size:1.5rem;
    text-shadow: 1px 1px 3px #000000;
    
}
.carousel{
    padding-bottom:2rem;
}

h2{ 
    font-family: 'Quicksand';
   text-align: center;
 
  
}
.media{
    padding-top:2.5rem;
}

.card{
    margin-top:2rem;
   margin-bottom: 2rem;
}
.card-home{
    margin-bottom:2rem;
    margin-top:2rem;
}